
body {
  background-color: #c2daf0;
  margin: 0;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.top-title {
  overflow: hidden;
  background-color: #85b8e2;
  color: #1b456b;
  font-size: 24px;
  text-align: center;
  padding: 6px;
}

.top-menu {
  background-color: #153755;
}

.top-menu-group {
  position: relative;
  display: inline-block;
}

.top-menu-group-button {
  min-width: 160px;
  background-color: #153755;
  color: #c2daf0;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.top-menu-group-content {
  display: none;
  position: absolute;
  background-color: #85b8e2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.top-menu-group-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.top-menu-group-content a:hover {
  background-color: #4a92d3
}

.top-menu-group:hover .top-menu-group-content {
  display: block;
}

.top-menu-group:hover .top-menu-group-button {
  background-color: #102840;
}

/* === SDE form === */
.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 2px;
}

.sde-input-title {
  width: 1px;
  white-space: nowrap;
  color: #1b456b;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.sde-input-cell {
  width: 100%;
}

.sde-container {
  width: 500px;
  margin: 10px;
  border: 2px solid #1b456b;
}

.sde-container-form {
  background:#85b8e2;
}

.textInput {
  width: 100%;
  height: 25px;
}

.sde-set-button-cell {
  display: inline-block;
  width: 100%;
}

.sde-set-button {
  min-width: 150px;
}

.sde-copy-button {
  min-width: 50px;
}

.sde-button {
  height: 30;
  margin: 2;
  float: right;
  border-radius: 4px;
  border: 1px solid #102840;
  background: #296ca7;
  color: #ecf4fa;
}
.sde-button:hover {
  background: #1b456b;
  color: #ecf4fa;
}
.sde-button:focus {
  background: #1b456b;
  color: #ecf4fa;
}
.sde-button:active {
  background: #102840;
  color: white;
}

.input-validation-error {
  background:#fee;
  border: 1px solid #f55;
}
.sde-clipboard {
  display: none;
}

.sde-table-title {
  background: #1b456b;
  color: white;
  text-align: center;
}
 
 /* ========    popup  ========= */
.popup-container {
  display: none; 
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity 0.3s;
}

.popup-container .popup {
  width: 400px;
  height: 100px;
  border-radius: 15px;
  position: relative;
  left: calc(50% - 200px);
  top: calc(50% - 50px);
  text-align: center;
  line-height: 100px;
  font-size: 28px;
  border: 5px solid #102840;
  background: #153755;
  color: #ecf4fa;
}

 /* ========    popup  ========= */
.regex-options-container {
  margin: 10px;
  display: inline-block;
}

.regex-options-results {
  display: inline-block;
}

.code {
  font-size: 13;
  width: 1px;
  white-space: nowrap;
  border-bottom: 1px solid #1b456b;
  font-family: 'Courier New', Courier, monospace;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.copy-icon {
  width: 12px;
  filter: invert(23%) sepia(6%) saturate(6703%) hue-rotate(169deg) brightness(96%) contrast(93%);
}
.copy-icon:hover {
  filter: invert(68%) sepia(56%) saturate(295%) hue-rotate(169deg) brightness(95%) contrast(86%);
  cursor: pointer;
}
.copy-icon:active {
  filter: invert(0%) sepia(11%) saturate(7455%) hue-rotate(332deg) brightness(90%) contrast(96%);
  cursor: pointer;
}

/* ======== chat window size ========= */
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
/* .v-slider-label {
  position: relative;
  right: 18;
  top: 18;
} */
.slidecontainer {
  position: absolute;
  left: 10;
  top: 10;
}